{% load static %} 

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vikas singh Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/apple-touch-icon.jpg'  %}" rel="apple-touch-icon">
  <link href="{% static 'assets/img/apple-touch-icon.jpg'  %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'  %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'  %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'  %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static 'assets/css/style.css'  %}" rel="stylesheet">
</head>

<body>

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href=" {% url 'home' %}">Vikas singh</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="{% url 'home' %}">HOME</a></li>
        <li><a class="nav-link scrollto" href="{% url 'about' %}">ABOUT</a></li>
        <li><a class="nav-link scrollto" href="{% url 'services' %}">SERVICES</a></li>
        <li><a class="nav-link scrollto " href="{% url 'project' %}">PROJECTS</a></li>
        <li><a class="nav-link scrollto " href="{% url 'happiness' %}">HAPPINESS</a></li>
        <li><a class="nav-link scrollto" href="{% url 'contact' %}"><button type="button" class="btn btn-primary">CONTACT</button></a></li>
        <li><a class="nav-link scrollto" href="{% url 'login' %}"><button type="button" class="btn btn-danger">LOGIN</button></a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
  

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route"
      style="background-image: url({%  static  "assets/img/overlay-bg.jpg"  %})">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Admin Login Page :-
                      </h5>
                    </div>
                    <div>
                      <div class="row">
                        <center>
                          {% if messages %}
                             {% for x in messages %}
                             <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              <strong style="color:red;"> {{x}} </strong>
                              <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                              {% endfor %}
                          {% endif %}
                         </center>
                        
                    </div>  

          
                      <form action="{% url 'login' %}" method="post" role="form" name="contactus_form">
                        
                        {% csrf_token %}

                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder=" Enter Your Name"
                                required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="password" class="form-control" name="password" id="password" placeholder=" Enter The Password "
                                required>
                            </div>
                          </div>
                         
                
                          <div class="col-md-12 text-center my-3">
                            <div class="loading"style=" font-weight:400 ;font-style: oblique;">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message"style=" font-weight:800 ;font-style: oblique;">Your message has been sent. Thank you!</div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded"> Admin Login </button>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead" style=" font-weight:500 ;font-style: oblique;">
                        Ready to elevate your project? As a Full Stack Developer, Web Designer, Content creator, Video Editor, Graphic Designer, and Event Manager, I bring a multifaceted skill set to the table. Let's collaborate and bring your vision to life. Contact me at {vikas.singh66551@gmail.com} and let's discuss your project goals!
                       </p>
                       <ul class="list-ico">
                         <li style=" font-weight:700 ;font-style: oblique;"><span class="bi bi-geo-alt"></span> Pune Maharashtra</li>
                         <li style=" font-weight:700 ;font-style: oblique;"><span class="bi bi-phone"></span>8208769710</li>
                         <li style=" font-weight:700 ;font-style: oblique;"><span class="bi bi-envelope"></span > vikas.singh66551@gmail.com</li>
                       </ul>
                    </div>
                    <div class="socials">
                      <ul>
                        <li><a href="https://github.com/vikassingh5522?tab=overview&from=2023-08-01&to=2023-08-31" target="_blank"><span
                              class="ico-circle"><i class="bi bi-github"></i></span></a></li>
                        <li><a href="https://www.instagram.com/mr_vikas_singh_7579/" target="_blank"><span class="ico-circle" ><i
                                class="bi bi-instagram" ></i></span></a></li>
                        <li><a href="https://www.youtube.com/channel/UCO49usTXPb81b3IOWEtqayw" target="_blank"><span
                              class="ico-circle"><i class="bi bi-youtube"></i></span></a></li>
                        <li><a href="https://www.linkedin.com/in/vikas-singh-1b5682232" target="_blank"><span class="ico-circle"><i
                                class="bi bi-linkedin"> </i></span></a>
                        <li><a href="https://https://discord.com/channels/@me"target="_blank"><span class="ico-circle" ><i
                                class="bi bi-discord"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>Vikassingh</strong>. All Rights Reserved</p>
            <div class="credits">
              Designed by <a href="https:vikassingh">Vikassingh</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js'  %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'  %}" ></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'   %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'  %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js'   %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'  %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'   %}"></script>

</body>

</html>